@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");


:root {
    --barColor: #5c6370;
}

body>main {
    margin: 7vh auto;
    width: 90%;
}

.subTitle {
    font-size: 20px;
    text-align: center;
    color: var(--brightBlack);
    margin-top: -4vh;
    margin-bottom: 5vh;
}

.fields {
    display: flex;
    gap: 2vh;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.settings legend {
    color: var(--brightWhite);
    padding: 5px;
    font-size: 25px;
}

.settings {
    width: 100%;
    max-width: 500px;
    border: 2px solid var(--brightBlack);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: -20px;
    padding: 20px 30px 30px 30px;
    color: var(--foreground);
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.setting_container {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.inputField {
    font-size: 20px;
    white-space: nowrap;
}

.setting_container .inputField input {
    margin: 0;
    display: inline-block;
}

.setting_container .inputField output {
    display: inline-block;
    width: 80px;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1500px;
    aspect-ratio: 16 / 9;
    margin: auto;
    overflow: hidden;
    border: none;
    border-radius: 10px;
}

.controlBar {
    --controlBarHeight: 45px;
    position: absolute;
    z-index: 9;
    cursor: col-resize;
    background-color: var(--barColor);
    left: 50%;
    height: 100%;
    width: 5px;
}

.controlBar::before {
    content: "<";
    color: var(--barColor);
    text-align: right;
    font-size: 30px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: var(--controlBarHeight);
    width: calc(var(--controlBarHeight) / 2 + 15px);
    outline: solid 3px var(--barColor);
    border-top-left-radius: calc(var(--controlBarHeight) / 2);
    border-bottom-left-radius: calc(var(--controlBarHeight) / 2);
}

.controlBar::after {
    content: ">";
    color: var(--barColor);
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 5px;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: var(--controlBarHeight);
    width: calc(var(--controlBarHeight) / 2 + 15px);
    outline: solid 3px var(--barColor);
    border-top-right-radius: calc(var(--controlBarHeight) / 2);
    border-bottom-right-radius: calc(var(--controlBarHeight) / 2);
}

.aPart {
    position: absolute;
    z-index: 8;
    height: 100%;
    left: 0;
    width: 50%;
    overflow: hidden;
}

.aPart video {
    object-fit: cover;
    height: 100%;
}

.bPart {
    position: absolute;
    z-index: 7;
    height: 100%;
    left: 0;
    width: 100%;
}

.bPart img {
    object-fit: cover;
    height: 100%;
}