body>main {
    margin: 6vh auto;
    width: 90%;
}

.subTitle {
    font-size: 20px;
    text-align: center;
    color: var(--brightBlack);
    margin-bottom: 5vh;
}

.fields {
    display: flex;
    gap: 5vw;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.settings legend {
    color: var(--brightWhite);
    padding: 5px;
    font-size: 25px;
}

.settings {
    width: 100%;
    max-width: 300px;
    border: 2px solid var(--brightBlack);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: -20px;
    padding: 20px 30px 30px 30px;
    color: var(--foreground);
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.setting_container {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

:root {
    --switch_gap: 2px;
    --switch_width: 40px;
    --switch_height: 20px;
}

.switch {
    display: none;
}

.switchLabel {
    top: 0;
    cursor: pointer;
    width: var(--switch_width);
    height: var(--switch_height);
    background: var(--brightRed);
    display: block;
    border-radius: 100px;
    position: relative;
}

.switchLabel:after {
    content: '';
    position: absolute;
    top: var(--switch_gap);
    left: var(--switch_gap);
    width: calc(var(--switch_height) - var(--switch_gap) - var(--switch_gap));
    height: calc(var(--switch_height) - var(--switch_gap) - var(--switch_gap));
    background: var(--brightBlack);
    border-radius: 90px;
    transition: 0.3s;
}

.switch:checked+.switchLabel {
    background: var(--brightGreen);
}

.switch:checked+.switchLabel:after {
    left: calc(100% - var(--switch_gap));
    transform: translateX(-100%);
}

.light {
    animation: flash 0.1s infinite;
}

@keyframes flash {
    0% {
        background-color: #161924;
    }

    49% {
        background-color: #161924;
    }

    50% {
        background-color: #ffffff;
    }

    100% {
        background-color: #ffffff;
    }
}

.hoverLayerContainer {
    position: relative;
    inset: 0;
    margin: auto;
}

.hoverLayer {
    position: relative;
    height: 120px;
    width: 240px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.showHoverLayer {
    border-top: 1px dashed #9b85ff80;
    margin-top: -1px;
    border-left: 1px dashed #9b85ff80;
    margin-left: -1px;
}

.showHoverLayer .hoverBox {
    border-bottom: 1px dashed #9b85ff80;
    margin-bottom: -1px;
    border-right: 1px dashed #9b85ff80;
    margin-right: -1px;
}

.hoverBox {
    display: block;
    height: 20px;
    width: 20px;
    z-index: 2;
}

.showHoverBox:hover {
    transition-duration: 0.2s;
    background-color: #9b85ff80;
}

.a1:hover~button {
    transform: translate(25px, 5px) perspective(400px) rotateX(5deg) rotateY(-25deg);
}

.a2:hover~button {
    transform: translate(20px, 10px) perspective(400px) rotateX(10deg) rotateY(-20deg);
}

.a3:hover~button {
    transform: translate(15px, 15px) perspective(400px) rotateX(15deg) rotateY(-15deg);
}

.a4:hover~button {
    transform: translate(10px, 20px) perspective(400px) rotateX(20deg) rotateY(-10deg);
}

.a5:hover~button {
    transform: translate(5px, 25px) perspective(400px) rotateX(25deg) rotateY(-5deg);
}

.a6:hover~button {
    transform: translate(0px, 30px) perspective(400px) rotateX(30deg) rotateY(-3deg);
}

.a7:hover~button {
    transform: translate(0px, 30px) perspective(400px) rotateX(30deg) rotateY(3deg);
}

.a8:hover~button {
    transform: translate(-5px, 25px) perspective(400px) rotateX(25deg) rotateY(5deg);
}

.a9:hover~button {
    transform: translate(-10px, 20px) perspective(400px) rotateX(20deg) rotateY(10deg);
}

.a10:hover~button {
    transform: translate(-15px, 15px) perspective(400px) rotateX(15deg) rotateY(15deg);
}

.a11:hover~button {
    transform: translate(-20px, 10px) perspective(400px) rotateX(10deg) rotateY(20deg);
}

.a12:hover~button {
    transform: translate(-25px, 5px) perspective(400px) rotateX(5deg) rotateY(25deg);
}

.b1:hover~button {
    transform: translate(50px, 15px) perspective(400px) rotateX(15deg) rotateY(-25deg);
}

.b2:hover~button {
    transform: translate(40px, 20px) perspective(400px) rotateX(20deg) rotateY(-20deg);
}

.b3:hover~button {
    transform: translate(30px, 25px) perspective(400px) rotateX(25deg) rotateY(-15deg);
}

.b4:hover~button {
    transform: translate(20px, 30px) perspective(400px) rotateX(30deg) rotateY(-10deg);
}

.b5:hover~button {
    transform: translate(10px, 35px) perspective(400px) rotateX(35deg) rotateY(-5deg);
}

.b6:hover~button {
    transform: translate(5px, 40px) perspective(400px) rotateX(40deg) rotateY(-3deg);
}

.b7:hover~button {
    transform: translate(-5px, 40px) perspective(400px) rotateX(40deg) rotateY(3deg);
}

.b8:hover~button {
    transform: translate(-10px, 35px) perspective(400px) rotateX(35deg) rotateY(5deg);
}

.b9:hover~button {
    transform: translate(-20px, 30px) perspective(400px) rotateX(30deg) rotateY(10deg);
}

.b10:hover~button {
    transform: translate(-30px, 25px) perspective(400px) rotateX(25deg) rotateY(15deg);
}

.b11:hover~button {
    transform: translate(-40px, 20px) perspective(400px) rotateX(20deg) rotateY(20deg);
}

.c1:hover~button {
    transform: translate(60px, 10px) perspective(400px) rotateX(10deg) rotateY(-50deg);
}

.c2:hover~button {
    transform: translate(50px, 20px) perspective(400px) rotateX(20deg) rotateY(-40deg);
}

.c3:hover~button {
    transform: translate(40px, 30px) perspective(400px) rotateX(30deg) rotateY(-30deg);
}

.c4:hover~button {
    transform: translate(30px, 40px) perspective(400px) rotateX(40deg) rotateY(-20deg);
}

.c5:hover~button {
    transform: translate(20px, 50px) perspective(400px) rotateX(50deg) rotateY(-10deg);
}

.c6:hover~button {
    transform: translate(10px, 60px) perspective(400px) rotateX(50deg) rotateY(-5deg);
}

.c7:hover~button {
    transform: translate(-10px, 60px) perspective(400px) rotateX(50deg) rotateY(5deg);
}

.c8:hover~button {
    transform: translate(-20px, 50px)perspective(400px) rotateX(50deg) rotateY(10deg);
}

.c9:hover~button {
    transform: translate(-30px, 40px)perspective(400px) rotateX(40deg) rotateY(20deg);
}

.c10:hover~button {
    transform: translate(-40px, 30px)perspective(400px) rotateX(30deg) rotateY(30deg);
}

.c11:hover~button {
    transform: translate(-50px, 20px)perspective(400px) rotateX(20deg) rotateY(40deg);
}

.c12:hover~button {
    transform: translate(-60px, 10px)perspective(400px) rotateX(10deg) rotateY(50deg);
}

.d1:hover~button {
    transform: translate(60px, -10px) perspective(400px) rotateX(-10deg) rotateY(-50deg);
}

.d2:hover~button {
    transform: translate(50px, -20px) perspective(400px) rotateX(-20deg) rotateY(-40deg);
}

.d3:hover~button {
    transform: translate(40px, -30px) perspective(400px) rotateX(-30deg) rotateY(-30deg);
}

.d4:hover~button {
    transform: translate(30px, -40px) perspective(400px) rotateX(-40deg) rotateY(-20deg);
}

.d5:hover~button {
    transform: translate(20px, -50px) perspective(400px) rotateX(-50deg) rotateY(-10deg);
}

.d6:hover~button {
    transform: translate(10px, -60px) perspective(400px) rotateX(-50deg) rotateY(-5deg);
}

.d7:hover~button {
    transform: translate(-10px, -60px) perspective(400px) rotateX(-50deg) rotateY(5deg);
}

.d8:hover~button {
    transform: translate(-20px, -50px) perspective(400px) rotateX(-50deg) rotateY(10deg);
}

.d9:hover~button {
    transform: translate(-30px, -40px) perspective(400px) rotateX(-40deg) rotateY(20deg);
}

.d10:hover~button {
    transform: translate(-40px, -30px) perspective(400px) rotateX(-30deg) rotateY(30deg);
}

.d11:hover~button {
    transform: translate(-50px, -20px) perspective(400px) rotateX(-20deg) rotateY(40deg);
}

.d12:hover~button {
    transform: translate(-60px, -10px) perspective(400px) rotateX(-10deg) rotateY(50deg);
}

.e1:hover~button {
    transform: translate(50px, -15px) perspective(400px) rotateX(-15deg) rotateY(-25deg);
}

.e2:hover~button {
    transform: translate(40px, -20px) perspective(400px) rotateX(-20deg) rotateY(-20deg);
}

.e3:hover~button {
    transform: translate(30px, -25px) perspective(400px) rotateX(-25deg) rotateY(-15deg);
}

.e4:hover~button {
    transform: translate(20px, -30px) perspective(400px) rotateX(-30deg) rotateY(-10deg);
}

.e5:hover~button {
    transform: translate(10px, -35px) perspective(400px) rotateX(-35deg) rotateY(-5deg);
}

.e6:hover~button {
    transform: translate(5px, -40px) perspective(400px) rotateX(-40deg) rotateY(-3deg);
}

.e7:hover~button {
    transform: translate(-5px, -40px) perspective(400px) rotateX(-40deg) rotateY(3deg);
}

.e8:hover~button {
    transform: translate(-10px, -35px) perspective(400px) rotateX(-35deg) rotateY(5deg);
}

.e9:hover~button {
    transform: translate(-20px, -30px) perspective(400px) rotateX(-30deg) rotateY(10deg);
}

.e10:hover~button {
    transform: translate(-30px, -25px) perspective(400px) rotateX(-25deg) rotateY(15deg);
}

.e11:hover~button {
    transform: translate(-40px, -20px) perspective(400px) rotateX(-20deg) rotateY(20deg);
}

.e12:hover~button {
    transform: translate(-50px, -15px) perspective(400px) rotateX(-15deg) rotateY(25deg);
}

.f1:hover~button {
    transform: translate(25px, -5px) perspective(400px) rotateX(-5deg) rotateY(-35deg);
}

.f2:hover~button {
    transform: translate(20px, -10px) perspective(400px) rotateX(-10deg) rotateY(-20deg);
}

.f3:hover~button {
    transform: translate(15px, -15px) perspective(400px) rotateX(-15deg) rotateY(-15deg);
}

.f4:hover~button {
    transform: translate(10px, -20px) perspective(400px) rotateX(-20deg) rotateY(-10deg);
}

.f5:hover~button {
    transform: translate(5px, -25px) perspective(400px) rotateX(-25deg) rotateY(-5deg);
}

.f6:hover~button {
    transform: translate(0px, -30px) perspective(400px) rotateX(-30deg) rotateY(-3deg);
}

.f7:hover~button {
    transform: translate(0px, -30px) perspective(400px) rotateX(-30deg) rotateY(3deg);
}

.f8:hover~button {
    transform: translate(-5px, -25px) perspective(400px) rotateX(-25deg) rotateY(5deg);
}

.f9:hover~button {
    transform: translate(-10px, -20px) perspective(400px) rotateX(-20deg) rotateY(10deg);
}

.f10:hover~button {
    transform: translate(-15px, -15px) perspective(400px) rotateX(-15deg) rotateY(15deg);
}

.f11:hover~button {
    transform: translate(-20px, -10px) perspective(400px) rotateX(-10deg) rotateY(20deg);
}

.f12:hover~button {
    transform: translate(-25px, -5px) perspective(400px) rotateX(-5deg) rotateY(25deg);
}

.button {
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 8px;
    width: fit-content;
    height: 36px;
    border: none;
    outline: none;
    background: #7758ff60;
    border-radius: 20px;
    pointer-events: none;
    transition-duration: 0.1s;
    perspective-4rigin: center;
}

.button:focus-visible {
    background: #876cff4d;
    transform: scale(105%, 105%);
}

.button:focus-visible .svg-icon {
    animation: spin 2s linear infinite;
}

.label {
    line-height: 20px;
    font-size: 17px;
    color: #9b85ff;
    font-family: sans-serif;
    letter-spacing: 1px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}