body>main {
    margin: 7vh auto;
    width: 90%;
}

.fields {
    display: flex;
    gap: 3vw;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.settings legend {
    color: var(--brightWhite);
    padding: 5px;
    font-size: 25px;
}

.settings {
    width: 500px;
    border: 2px solid var(--brightBlack);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: -20px;
    padding: 20px 30px 30px 30px;
    color: var(--foreground);
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.setting_container {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.inputField {
    font-size: 20px;
    white-space: nowrap;
}

.setting_container .inputField input {
    margin: 0;
    display: inline-block;
}

.setting_container .inputField output {
    display: inline-block;
    width: 30px;
}

:root {
    --switch_gap: 2px;
    --switch_width: 40px;
    --switch_height: 20px;
}

.switch {
    display: none;
}

.switchLabel {
    top: 0;
    cursor: pointer;
    width: var(--switch_width);
    height: var(--switch_height);
    background: var(--brightRed);
    display: block;
    border-radius: 100px;
    position: relative;
}

.switchLabel:after {
    content: '';
    position: absolute;
    top: var(--switch_gap);
    left: var(--switch_gap);
    width: calc(var(--switch_height) - var(--switch_gap) - var(--switch_gap));
    height: calc(var(--switch_height) - var(--switch_gap) - var(--switch_gap));
    background: var(--brightBlack);
    border-radius: 90px;
    transition: 0.3s;
}

.switch:checked+.switchLabel {
    background: var(--brightGreen);
}

.switch:checked+.switchLabel:after {
    left: calc(100% - var(--switch_gap));
    transform: translateX(-100%);
}

.form {
    width: 500px;
    height: fit-content;
    background-color: var(--brightBlack);
    border-radius: 10px;
    overflow: hidden;
}

.inputBox_container {
    display: flex;
    align-items: center;
    flex-direction: row;
    outline: solid 1px var(--foreground);
}

.search_icon {
    height: 25px;
    padding: 10px 15px;
    fill: var(--foreground);
}

.inputBox {
    background-color: transparent;
    color: var(--brightWhite);
    outline: none;
    width: 100%;
    border: 0;
    padding: 10px 15px 10px 0;
    font-size: 25px;
}

::placeholder {
    color: var(--foreground);
}

::-ms-input-placeholder {
    color: var(--foreground);
}

.selection {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--brightWhite);
    padding: 10px 15px;
    font-size: 25px;
    padding-left: 55px;
    border-radius: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.allowed {
    cursor: pointer;
}

.allowed:hover {
    background-color: #abb2bf;
}

.not_allowed {
    cursor: not-allowed;
}